{% extends 'base.html.twig' %}

{% block title %}PackUp Dashboard{% endblock %}

{% block stylesheets %}
    <style>
        body {
            font-size: .875rem;
        }

        /*
         * Sidebar
         */

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100; /* Behind the navbar */
            padding: 48px 0 0; /* Height of navbar */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        }

        @supports ((position: -webkit-sticky) or (position: sticky)) {
            .sidebar-sticky {
                position: -webkit-sticky;
                position: sticky;
            }
        }

        .sidebar .nav-link {
            font-weight: 500;
            color: #333;
        }

        .sidebar .nav-link {
            margin-right: 4px;
            color: #999;
        }

        .sidebar .nav-link.active {
            color: #007bff;
        }

        .sidebar .nav-link:hover,
        .sidebar .nav-link.active {
            color: inherit;
        }

        .sidebar-heading {
            font-size: .75rem;
            text-transform: uppercase;
        }

        /*
         * Content
         */

        [role="main"] {
            padding-top: 133px; /* Space for fixed navbar */
        }

        @media (min-width: 768px) {
            [role="main"] {
                padding-top: 48px; /* Space for fixed navbar */
            }
        }

        /*
         * Navbar
         */

        .navbar-brand {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, .25);
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        }

        .navbar .form-control {
            padding: .75rem 1rem;
            border-width: 0;
            border-radius: 0;
        }

        .form-control-dark {
            color: #fff;
            background-color: rgba(255, 255, 255, .1);
            border-color: rgba(255, 255, 255, .1);
        }

        .form-control-dark:focus {
            border-color: transparent;
            box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
        }
    </style>
{% endblock %}

{% block stylesheetsMain %} {% endblock %}


{% block body %}

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('admin') }}">PackUp Administration</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ path('app_logout') }}">{{ app.user.prenom }} se déconnecter</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}"><span data-feather="home"></span>Home <span
                                        class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('users') }}"><span data-feather="users"></span>Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('voyages') }}"><span data-feather="shopping-cart"></span>Voyages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('etapes') }}"><span data-feather="bar-chart-2"></span>Etapes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('activites') }}"><span data-feather="users"></span>Activités</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('commentaires') }}"><span data-feather="layers"></span>Commentaires</a>
                        </li>
                    </ul>
                </div>
            </nav>


            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

                    {% set current_path = app.request.get('_route') %}

                    {# ADMIN #}
                    {% if current_path == 'admin' %}
                        <h1 class="h2">Dashboard Home</h1>
                    {% endif %}

                    {# USERS #}
                    {% if current_path == 'users' %}
                        <h1 class="h2">Liste des Utilisateurs</h1>
                    {% endif %}

                    {% if current_path == 'user_edit' %}
                        <h1 class="h2">Edition de l'utilisateur</h1>
                    {% endif %}

                    {% if current_path == 'user_new' %}
                        <h1 class="h2">Ajout d'un nouvel utilisateur</h1>
                    {% endif %}

                    {% if current_path == 'user_details' %}
                        <h1 class="h2">Profil de l'utilisateur</h1>
                    {% endif %}

                    {% if current_path == 'user_delete' %}
                        <h1 class="h2">Suppression de l'utilisateur</h1>
                    {% endif %}

                    {# VOYAGES #}
                    {% if current_path == 'voyages' %}
                        <h1 class="h2">Liste des voyages</h1>
                    {% endif %}

                    {% if current_path == 'voyage_edit' %}
                        <h1 class="h2">Edition du voyage</h1>
                    {% endif %}

                    {% if current_path == 'voyage_new' %}
                        <h1 class="h2">Ajout d'un nouveau voyage</h1>
                    {% endif %}

                    {% if current_path == 'voyage_details' %}
                        <h1 class="h2">Détails du voyage</h1>
                    {% endif %}

                    {% if current_path == 'voyage_delete' %}
                        <h1 class="h2">Suppression du voyage</h1>
                    {% endif %}


                    {# ETAPES #}
                    {% if current_path == 'etapes' %}
                        <h1 class="h2">Liste des étapes</h1>
                    {% endif %}

                    {% if current_path == 'etape_edit' %}
                        <h1 class="h2">Edition de l'étape</h1>
                    {% endif %}

                    {% if current_path == 'etape_new' %}
                        <h1 class="h2">Ajout d'une nouvelle étape</h1>
                    {% endif %}

                    {% if current_path == 'etape_show' %}
                        <h1 class="h2">Détails d'une étape</h1>
                    {% endif %}

                    {% if current_path == 'etape_delete' %}
                        <h1 class="h2">Suppression d'une étape</h1>
                    {% endif %}


                    {# ACTIVITES #}
                    {% if current_path == 'activites' %}
                        <h1 class="h2">Liste des activités</h1>
                    {% endif %}

                    {% if current_path == 'activite_edit' %}
                        <h1 class="h2">Edition de l'activité</h1>
                    {% endif %}

                    {% if current_path == 'activite_new' %}
                        <h1 class="h2">Ajout d'une nouvelle activité</h1>
                    {% endif %}

                    {% if current_path == 'activite_show' %}
                        <h1 class="h2">Détails d'une activité</h1>
                    {% endif %}

                    {% if current_path == 'activite_delete' %}
                        <h1 class="h2">Suppression d'une activité</h1>
                    {% endif %}


                    {# COMMENTAIRES #}
                    {% if current_path == 'commentaires' %}
                        <h1 class="h2">Liste des commentaires</h1>
                    {% endif %}

                    {% if current_path == 'commentaires_edit' %}
                        <h1 class="h2">Edition du commentaire</h1>
                    {% endif %}

                    {% if current_path == 'commentaires_new' %}
                        <h1 class="h2">Ajout d'un nouveau commentaire</h1>
                    {% endif %}

                    {% if current_path == 'commentaires_show' %}
                        <h1 class="h2">Détails d'un commentaire</h1>
                    {% endif %}

                    {% if current_path == 'commentaires_delete' %}
                        <h1 class="h2">Suppression d'un commentaire</h1>
                    {% endif %}



                </div>
                {% block main %}
                    <div class="jumbotron">
                        <h1 class="display-4">Hello, {{ app.user.username }}</h1>
                        <p class="lead">Bienvenue sur l'administration de PackUp ! Vous pouvez ici consulter toutes
                            informations ratachées à l'application.</p>
                        <hr class="my-4">
                        <p>Nous vous rappellons que cette section est confidentielle et que seul les administrateurs
                            sont autorisés.</p>
                        <a class="btn btn-primary btn-lg" href="#" role="button">Accéder au site PackUp</a>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Utilisateurs connectés (10mn) </h5>
                                    <p class="card-text text-primary font-weight-bold" style="font-size: 50px;">{{ usersConnectes|length }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Comptes créés dans le dernier mois</h5>
                                    <p class="card-text text-primary font-weight-bold" style="font-size: 50px;">{{ usersMonth|length }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Voyages créés dans le dernier mois</h5>
                                    <p class="card-text text-primary font-weight-bold" style="font-size: 50px;">{{ voyagesMonth|length }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Commentaires publiés dans le dernier mois</h5>
                                    <p class="card-text text-primary font-weight-bold" style="font-size: 50px;">{{ commentairesMonth|length }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endblock main %}
            </main>

        </div>
    </div>

{% endblock body %}

{% block javascripts %}{% endblock %}
{% block javascriptsMain %} {% endblock %}